<section class="todoapp">
  <header class="header">
    <h1><%= @list.name %></h1>
    <input class="new-todo" placeholder="What items needs to be done?" autofocus="">
  </header>

  <section class="main">
    <input class="toggle-all" type="checkbox">
    <label for="toggle-all">Mark all as complete</label>

    <!-- Iteration of @lists -->
    <ul class="todo-list">
          <li>
            <div class="view">
              <label></label>
            </div>
          </li>
    </ul>
  </section>

  <footer class="footer">
    <span class="todo-count"><strong>1</strong> item left</span>
    <ul class="filters">
      <li>
        <a href="#/" class="selected">All</a>
      </li>
      <li>
        <a href="#/active" class="">Active</a>
      </li>
      <li>
        <a href="#/completed">Completed</a>
      </li>
    </ul>
    <button class="clear-completed" style="display: block;">Clear completed</button>
  </footer>

</section>